%li=link_to 'Events', events_path
%li=link_to 'Routes', routes_path
/%li=link_to 'Articles', articles_path
%li=link_to 'Practice Schedule', practices_path
-if current_user.officer
	=render partial: 'navbar/officer_links'