=form_for @meeting do |f|
	-if @meeting.errors.any?
		#error_explanation
			%h2="#{pluralize(@meeting.errors.count, "error")} prohibited this meeting from being saved:"
			%ul
				-@meeting.errors.full_messages.each do |msg|
					%li=msg
	.form-group
		=f.label :title, 'Title', class: 'control-label'
		=f.text_field :title, class: 'form-control'
	.form-group
		=f.label :date, 'Date', class: 'control-label'
		=f.text_field :date, class: 'form-control', value: @meeting.date.present? ? @meeting.date.strftime('%m/%d/%Y') : nil
	.form-group
		=f.label :time, 'Time', class: 'control-label'
		.input-group.bootstrap-timepicker.input-append
			=f.text_field :time, class: 'form-control'
			.input-group-addon
				-glyphicon_tag 'time', class: 'add-on'
	.form-group
		=f.label :minutes, 'Minutes', class: 'control-label'
		=f.text_area :minutes, class: 'form-control', cols: 70, rows: 10
	.actions
		=f.submit 'Save', class: 'btn btn-primary'
:javascript
	$('#meeting_date').datepicker();
	$('#meeting_time').timepicker('setTime', '#{@meeting.time.present? ? @meeting.time.strftime('%l:%M %p').strip : nil }')
