-table_tag do
	%tr
		%th Title
		%th Minutes
		%th Date
		%th Time
		%th Actions
	-@meetings.each do |meeting|
		%tr
			%td=link_to meeting.title, meeting_path(meeting)
			%td=meeting.minutes
			%td=meeting.date_string
			%td=meeting.time_string
			%td
				=link_to edit_meeting_path(meeting), class: 'btn btn-default' do
					-glyphicon_tag 'pencil'
