-@comment ||= comment
=form_for @comment, remote: true do |f|
	=f.hidden_field :commentable_type, value: commentable.class.to_s
	=f.hidden_field :commentable_id, value: commentable.id
	%td=image_tag current_user.avatar(:thumb)
	%td=f.text_field :comment, class: 'form-control', placeholder: 'Write a comment.'
	%td=f.submit 'Post', class: 'btn btn-primary btn-sm'
