-header_tag do
	%h1 
		Articles
		%small
			=link_to new_article_path, class: 'btn btn-sm btn-success', title: 'Add a new article', 'data-toggle' => :tooltip do
				-glyphicon_tag 'plus'
-table_tag do
	%thead
		%tr
			%th Title
			%th Author
			%th Last Edited

	-@articles.each do |article|
		%tr
			%td=link_to article.title, article
			%td=article.author.full_name
			%td=article.last_edited_string
