-header_tag do
	%h1
		=@article.title
		%small
			by
			=@article.author.full_name
			\. Last edited
			=@article.last_edited_string
			%span#follow_unfollow=render partial: 'followings/follow_unfollow_button', locals: { followable: @article }
			-if current_user.officer || current_user.id == @article.author_id
				=link_to edit_article_path(@article), class: 'btn btn-default', title: 'Edit this article.', 'data-toggle' => :tooltip do
					-glyphicon_tag 'pencil'
.col-md-8=@article.body.html_safe
