%h1.page-header Administrative Tasks

.panel.panel-primary
	.list-group
		.list-group-item=link_to 'Modify Practice Schedule', edit_practices_path
		.list-group-item=link_to 'Modify Routes', edit_routes_path
		.list-group-item=link_to 'Modify Members', edit_members_path
		.list-group-item=link_to 'Modify the Carousel', edit_carousel_items_path
		.list-group-item=link_to 'Modify Events', edit_events_path