%tr{ id: "carousel_item_#{item.id}" }
	%td
		-glyphicon_tag 'resize-vertical', class: 'handle btn btn-lg btn-default'
	%td=image_tag item.image.url(:thumbnail)
	%td=item.primary_caption
	%td=item.secondary_caption
	%td
		=link_to edit_carousel_item_path(item), class: 'btn btn-default', title: 'Edit this item', 'data-toggle' => 'tooltip' do
			-glyphicon_tag 'pencil'
		=link_to item, method: :delete, remote: true,  id: "delete_carousel_item_#{item.id}", class: 'btn btn-danger', title: 'Delete this item', 'data-toggle' => 'tooltip' do
			-glyphicon_tag 'remove'
