-header_tag do
	%h1
		Edit the Carousel
		%small
			%div{ style: 'display:inline-block' }
				=link_to new_carousel_item_path, class: 'btn btn-success', id: :new_carousel_link, remote: true, title: 'Add Image', 'data-toggle' => 'tooltip' do
					-glyphicon_tag 'plus'
				=link_to reorder_carousel_items_path, class: 'btn btn-primary', id: :reorder_carousel_link, method: :put, remote: true, title: 'Save All Changes', 'data-toggle' => 'tooltip' do
					-glyphicon_tag 'floppy-saved'
				=link_to edit_carousel_items_path, class: 'btn btn-warning', title: 'Undo All Changes (Including Deletions)', 'data-toggle' => 'tooltip' do
					-glyphicon_tag 'refresh'

#carousel_items
	=render partial: 'edit_all'

#new_carousel_form
:javascript
	show_hide_form('#new_carousel_link', '#new_carousel_form', '#cancel_new_carousel_form');

	$('.sortable').sortable({
		handle: '.handle',
		cursor: 'move',
		axis: 'y'
	});

	$('#reorder_carousel_link').on('ajax:beforeSend', function(event, xhr, settings) {
		settings.url += '?' + $('.sortable').sortable('serialize');
	});

	$(document).ready(function () {
		fix_cell_widths();
	});