%h1.page-header Reorder the Carousel

%table.table.table-striped.display.thumbnail
	%thead
		%tr
			%th Image
			%th Primary Caption
			%th Secondary Caption
			-if @items.size > 1
				%th Actions
	%tbody
		-index = 0
		-@items.each do |item|
			%tr
				%td=image_tag item.image.url :thumbnail
				%td=item.primary_caption
				%td=item.secondary_caption
				%td
					-unless index == 0
						=link_to "", submit_carousel_order_path(item1_id: @items[index - 1].id, item2_id: item.id), method: :patch, class: 'icon-arrow-up arrow-link'
					-unless index == @items.size - 1
						=link_to "", submit_carousel_order_path(item1_id: @items[index + 1].id, item2_id: item.id), method: :patch, class: 'icon-arrow-down arrow-link'
			-index += 1

.form-actions
	=link_to 'Back', edit_carousel_path, class: 'btn'