<p> Dear <%= @member.first_name %>,</p>

<p>Your password was changed at <%= @member.updated_at.localtime.strftime('%l:%M %p') %>.<br>
If you did not change your password, please contact one of the officers.<br>
Their contact information can be found at <%= "#{@url}/contact" %></p>
<br>
-The Spartan Running Club Team</p>