%h1.page-header About Spartan Running Club

.col-md-8
    %p
        :markdown
            Centered around health and wellness, a team dynamic and healthy competition, the Spartan Running Club is an organization of runners in the CWRU community. SRC aims to encourage a love of the sport of running on campus and in the greater Cleveland area through its commitment to service and philanthropy. The Spartan Running Club strives to benefit the campus community by providing an opportunity for runners of any skill level and experience to improve themselves in a friendly team atmosphere.