-header_tag do
	%h1 Contact Us
.col-md-6
	%table
		-@officers.each_slice(2) do |officers|
			%tr
				-officers.each do |officer|
					%td{ style: 'padding-bottom: 5px;' }
						%table
							%tr
								%td=image_tag officer.avatar.url(:reg)
								%td{ style: 'padding-left: 5px;' }
									=officer.full_name
									=mail_to officer.email
.col-md-6.pull-right
	.panel.panel-primary
		.panel-heading
			External
		%ul.list-group
			%li.list-group-item=link_to 'Facebook', 'https://facebook.com/groups/spartanrunningclub'
			%li.list-group-item=link_to '@spartan_running', 'https://twitter.com/spartan_running'
			%li.list-group-item=mail_to 'spartan.running.club@gmail.com'

