.page-header
	%h1 Contact Us

%ul
	%li
		Contact this site:
		%ul
			%li
				Facebook:
				=link_to 'SRC Facebook Group', 'https://facebook.com/groups/spartanrunningclub'
	-@officers.each do |officer|
		%li
			="Contact #{officer.full_name}"
			%ul
				%li="Email: #{officer.email}"