%h1.page-header Welcome to Spartan Running Club!

.container
	.col-md-8
		-unless CarouselItem.count > 0
			=render partial: 'default_carousel'
		-else
			=render partial: 'carousel', locals: { active: @active, items: @items }
	.col-md-4.pull-right
		-unless signed_in?
			.panel.panel-warning
				.panel-heading You are not signed in
				%ul.list-group
					%li.list-group-item=link_to 'Sign Up', new_member_path	
		-else
			.panel-group#accordion
				-events = @upcoming_events.any?
				.panel.panel-primary
					.panel-heading
						%a{ :href => '#events-collapse', 'data-toggle' => 'collapse', 'data-parent' => '#accordion' }
							.panel-title Upcoming Events
					-klass = events ? 'in' : ''
					%ul.list-group.panel-collapse.collapse#events-collapse{ class: klass }
						-@upcoming_events.each do |event|
							%li.list-group-item=link_to event.name, event
						-unless events
							%li.list-group-item No upcoming events.
				.panel.panel-primary
					.panel-heading
						%a{ :href => '#quick-links-collapse', 'data-toggle' => 'collapse', 'data-parent' => '#accordion'}
							.panel-title Quick Links
					-klass = klass.blank? ? 'in' : ''
					%ul.list-group.panel-collapse.collapse#quick-links-collapse{ class: klass }
						%li.list-group-item=link_to 'View Profile', current_user
						%li.list-group-item
							%a{ href: "https://orgsync.com/90333/chapter", target: :_blank } Sign up on OrgSync

:javascript
	$('.carousel').carousel();
