%h1.page-header Welcome to Spartan Running Club!

.container
	.col-md-8
		-unless CarouselItem.count > 0
			=render partial: 'default_carousel'
		-else
			=render partial: 'carousel', locals: { active: @active, items: @items }
	.col-md-4.pull-right
		-unless current_user
			.please-sign-in
				%p You are not signed in. Please click the sign in button above to be able to access the full site.
		-else
			.panel-group#accordion
				.panel.panel-primary
					-#%a{ :href => '#quick-links-collapse', 'data-toggle' => 'collapse', 'data-parent' => '#accordion'}
					.panel-heading
						%a{ :href => '#quick-links-collapse', 'data-toggle' => 'collapse', 'data-parent' => '#accordion'}
							.panel-title
								Quick Links
					%ul.list-group.panel-collapse.collapse.in#quick-links-collapse
						%li.list-group-item=link_to 'View Profile', current_user
						%li.list-group-item=link_to 'View the Routes', routes_path
						%li.list-group-item=link_to 'View the Practice Schedule', practices_path
						%li.list-group-item=link_to 'Get set up on LogARun', log_a_run_path

:javascript
	$('.carousel').carousel();
