.page-header
	%h1 Spartan Running Club and LogARun
.col-md-6
	%p
		:markdown
			The Spartan Running Club uses [LogARun](http://logarun.com) to track the runs and progress of its
			members. In order to utilize this service, you must join the Spartan Running Club team on
			[LogARun](http://logarun.com). If you have not done so already, follow the steps below:
	%ol
		%li
			:markdown
				Create an account on the [LogARun](http://logarun.com) website. There
				is a 'Sign up' link in the top right corner.
			%img{ src: 'assets/log_a_run_signup.png' }
		%li
			:markdown
				After creating an account, hover over the "Teams" dropdown and select "Manage Teams".
			%img{ src: 'assets/log_a_run_manage_teams.png' }
		%li
			:markdown
				Find "Spartan Running Club CWRU" (ctrl-f the page) and click "Join"
			%img{ src: 'assets/log_a_run_join_team.png' }
		%li
			:markdown
				Wait for one of the officers to approve your join request