=form_for @event, :html => { :class => 'form-horizontal', :form => 'class' } do |f|
	-if @event.errors.any?
		#error_explanation
			%h2= "#{pluralize(@event.errors.count, "error")} prohibited this event from being saved:"
			%ul
				-@event.errors.full_messages.each do |msg|
					%li= msg
	.input-group
		=f.label :name, 'Name'
		=f.text_field :name, :class => 'form-control', :placeholder => 'Event Name'
	%br
	.input-group
		=f.label :time, 'Time'
		=f.datetime_field :time, :class => 'form-control'
	%br
	.input-group
		=f.label :description, 'Description'
		=f.text_area :description, :class => 'form-control', :size => "60x10"
	%br
	.form-actions
		=f.submit 'Save', :class => 'btn btn-primary'
		=link_to 'Back', admin_panel_path, :class => 'btn btn-default'
