-header_tag do
	%h1 Events

-table_tag do
	%tr
		%th Name
		%th Description
		%th Date
		%th Time

	-@events.each do |event|
		%tr
			%td=link_to event.name, event_path(event.id)
			%td=truncate(event.description)
			%td=event.date_string
			%td=event.time_string
