.page-header
	%h1
		=@event.name
		%small
			="(#{@event.date_string} #{@event.time_string})"
			%span#follow_unfollow=render partial: 'followings/follow_unfollow_button', locals: { followable: @event }

.col-md-6
	=image_tag @event.photo.url(:full)
.col-md-6
	%p=@event.description.html_safe
