=form_for @practice, html: { :class => 'form-horizontal', :role => 'form' } do |f|
	-if @practice.errors.any?
		#error-explanation
			%h4
				=pluralize @pratice.errors.count, 'error'
				prohibited this practice from being saved
			%ul
				-@practice.errors.full_messages.each do |msg|
					%li=msg
	.form-group
		=f.label :day, 'Day', :class => 'control-label'
		=f.select :day, Practice::DAYS, {}, class: 'form-control'
	.form-group
		=f.label :time, 'Time', class: 'control-label'
		.input-group.bootstrap-timepicker.input-append
			=f.text_field :time, class: 'form-control'
			.input-group-addon
				-glyphicon_tag 'time', class: 'add-on'
	.form-actions
		=f.submit 'Save', :class => 'btn btn-primary'
		=link_to t('.cancel', default: t('helpers.links.cancel')), edit_practices_path, :class => 'btn btn-default'
:javascript
	$('#practice_time').timepicker('setTime', '#{@practice.time_string}')
