<p>On <%=Time.now.strftime('%l:%M %p').strip%>, <%=@member.full_name%> posted the following feedback on the website:</p>
<p><%=@feedback%></p>
<p>They can be reached at <%=@member.email%> if you need to contact them.</p>