%h1.page-header Edit Routes

-if @routes.any?
	%table.table.table-striped.display.thumbnail
		%thead
			%tr
				%th Map
				%th Title
				%th Distance
				%th Actions
		%tbody
			-@routes.each do |route|
				%tr
					%td=image_tag route.map_image.url :thumbnail
					%td=route.title
					%td=route.distance
					%td
						=link_to 'Edit', edit_route_path(route), class: 'btn btn-xs btn-default'
						=link_to 'Delete', route, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger'
-else
	You have no routes!
.form-actions
	=link_to 'Add Route', new_route_path, class: 'btn btn-primary'
	=link_to 'Back', admin_panel_path, class: 'btn btn-default'