-header_tag do
	%h1
		Edit Routes
		%small
			.header-buttons
				=link_to new_route_path, class: 'btn btn-success', title: 'Add a route', 'data-toggle' => :tooltip do
					-glyphicon_tag 'plus'

-if @routes.any?
	-table_tag do
		%thead
			%tr
				%th Map
				%th Title
				%th Distance
				%th Actions
		%tbody
			-@routes.each do |route|
				%tr
					%td=image_tag route.map_image.url :thumbnail
					%td=route.title
					%td=route.distance
					%td
						=link_to edit_route_path(route), class: 'btn btn-default', title: 'Edit this route', 'data-toggle' => :tooltip do
							-glyphicon_tag 'pencil'
						=link_to route, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger', title: 'Delete this route', 'data-toggle' => :tooltip do
							-glyphicon_tag 'remove'
