/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui/datepicker
 *= require jquery-ui/sortable
 *= require_tree .
 */

//@import 'bootstrap';

 $primary-panel-title-color: #fff;
 $primary-color: #2d6ca2;
 $success-panel-title-color: #3c763d;
 $success-color: #3e8f3e;
 $info-panel-title-color:    #31708f;
 $info-color: #28a4c9;
 $warning-panel-title-color: #8a6d3b;
 $warning-color: #e38d13;
 $danger-panel-title-color:  #a94442;
 $danger-color: #b92c28;
 
.panel {
    .panel-heading {
        .panel-title {
            a:hover {
                text-decoration: none;
            }
        }
        a:hover {
            text-decoration: none;
        }
    }
}

.panel.panel-primary {
    .panel-heading {
        a {
            color: $primary-panel-title-color;
        }
    }
}

.panel.panel-success {
    .panel-heading {
        a {
            color: $success-panel-title-color;
        }
    }
}

.panel.panel-info {
    .panel-heading {
        a {
            color: $info-panel-title-color;
        }
    }
}

.panel.panel-warning {
    .panel-heading {
        a {
            color: $warning-panel-title-color;
        }
    }
}

.panel.panel-danger {
    .panel-heading {
        a {
            color: $danger-panel-title-color;
        }
    }
}

.badge-primary {
    background-color: $primary-color;
}

.badge-success {
    background-color: $success-color;
}

.badge-info {
    background-color: $info-color;
}

.badge-warning {
    background-color: $warning-color;
}

.badge-danger {
    background-color: $danger-color;
}

.container {
    margin-bottom: 10px;
}

.header-buttons {
    display: inline-block;
}
