!!!
%html
	%head
		%title Spartan Running Club
		=stylesheet_link_tag 'bootstrap.min.css', 'data-turbolinks-track' => true
		=stylesheet_link_tag 'bootstrap-theme.min.css', 'data-turbolinks-track' => true
		=stylesheet_link_tag 'bootstrap-timepicker.min.css', 'data-turbolinks-track' => true
		=stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
		=javascript_include_tag 'application', 'data-turbolinks-track' => true
		=javascript_include_tag 'bootstrap-timepicker.min.js', 'data-turbolinks-track' => true
		=csrf_meta_tags
		%meta{ name: 'viewport', content: 'width=device-width, initial-scale=1' }
	%body{ class: controller.controller_name }
		=render partial: 'navbar/navbar'
		.container
			%p#notice=flash[:notice]
			%p#error=flash[:error]
			=yield
	=javascript_include_tag 'bootstrap.min.js', 'data-turbolinks-track' => true
	:javascript
		$("*[data-toggle='tooltip']").tooltip();