%h1.page-header Competitive Members

=render partial: 'members_table', locals: {members: @competitive_members, ignore_competitive: true}

-if current_user
  .form-actions
    =link_to 'All Members', members_path, class: 'btn'
    =link_to 'Non Competitive', non_competitive_members_path, class: 'btn'
    =link_to 'Officers', officers_path, class: 'btn'