%h1.page-header Edit Members

%table.table.table-hover
	%thead
		%tr
			%th Name
			%th Case ID
			%th Email
			%th Year
			%th Competitive
			%th Officer
			%th Position
			%th Actions
	%tbody
		-@members.each do |member|
			%tr
				%td=member.full_name
				%td=member.case_id
				%td=member.email
				%td=member.year
				%td=member.competitive_as_string
				%td=member.officer_as_string
				%td=member.officer ? member.position : ''
				%td
					=link_to 'Edit', edit_member_path(member.id), class: 'btn btn-sm btn-default'
					=link_to 'Delete', member_path(member.id), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-danger'
=link_to 'Add member', new_member_path, class: 'btn btn-primary'
=link_to 'Back', admin_panel_path, class: 'btn btn-default'