-password_reset = current_user.id == @member.id
-show_edit = password_reset || current_user.officer?
-header_tag do
	%h1=@member.full_name
	-if show_edit
		=link_to edit_member_path(@member), class: 'btn btn-default' do
			-glyphicon_tag 'pencil'
	-if password_reset
		=link_to password_member_path(@member), class: 'btn btn-default' do
			-glyphicon_tag 'lock'

.col-md-2
	=image_tag @member.avatar.url(:reg)

%ul
	%li=@member.email
	%li=@member.year
	%li=@member.competitive ? 'Competitive' : 'Non Competitive'
	-if @member.officer
		%li=@member.position
